body, html {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', 'Arial', serif;
    color: #006989;
    max-width: 100%;
}


.box {
  position: relative;
  z-index: -1;
    height: 100vh;
    /* background-color: rgba(0, 105, 137, 0.1); */
    background-color: #eaf1f1;

    justify-content: center; 
    display: flex;
    align-items: center;
    width: 100%;
    /* margin: 0 auto; */
}




/* The animation code */
@keyframes dripdrop {
  0%   {left:10vw; top:0vh;}
   100% {left:10vw; top:100vh;}
}

/* The element to apply the animation to */
#newbox {
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: dripdrop;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: -1s;
  animation-iteration-count: infinite;


}







.smallbox {
  min-height: 50px;
  background-color: #006989;
  justify-content: center; 
  display: flex;
  align-items: center;
  width: 100%;
  /* margin: 0 auto; */
}



.red {
  background-color: #f50707;
  min-height: 20px;
}


.pinkbox {
  background-color: rgba(150, 100, 150, 0.7);
  justify-content: center; 
  align-items: center;
  width: 100%;
  font-family: 'Ubuntu', 'Arial', serif;
  max-width: 100%;



}

.row {
    width: 100%;
    max-width: 100%;



}




.bluebox {
    background-color: #006989;
    color: #cbeef3;
    justify-content: center; 
    align-items: center;
    width: 100%;
    max-width: 100%;

}
    
.bgpic1, .bgpic2, .bgpic3 {
  max-width: 100%;

    position: relative;
    /* opacity: 0.65; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}


.bgpic1::before {
    content: "";
    background-image: url('../images/poolsplash.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .3;
} 


  
.bgpic2 {
      background-image: url('../images/poolsplash.jpg');
      min-height: 100%;
}
  
.bgpic3 {
      background-image: url('../images/clayhit.jpg');
      min-height: 50%;
}


/* start */




#introblock {
    color: #cbeef3;
    background-color: #006989;
    text-align: center;
    letter-spacing: 2px;
    padding: 30px 60px;
    font-size: 150%;
    /* text-align: justify; */
}


.introblocksmall {
  color: #cbeef3;
  background-color: #006989;
  text-align: center;
  letter-spacing: 2px;
  padding: 15px 30px;
  font-size: 80%;
  /* text-align: justify; */
}

.serviceblock {
  width: 80%;
}

.navblock {
  width: 20%;
}



li.question {
  font-size: 100%;
}

li.answer {
  font-size: 80%;
  list-style-type: none;
}


.title {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #111;
}


.title span.border {
    /* This is box color (faded) */
  background-color: #111;
  /* This is font color (faded) */
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.headtext {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #cbeef3;
  font-size: 150%;
}


.slidebox {
  background-color: rgba(255, 255, 255, 0.8);
  color: #006989;
  min-width: 200px;
  min-height: 500px;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 16px;
  border-color: #006989;
  border-style: solid;
}

.card {
  /* margin: 20px; */
  background-color: rgba(255, 255, 255, 0.9);
  color: #006989;
  /* min-width: 200px; */
  min-height: 500px;
  /* width: 100%; */
  padding: 20px;
  text-align: center;
  border-radius: 16px;
  border-color: #006989;
  border-style: solid;
}


.innercard {
  margin: 20px;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color:  #006989;;

  color: #cbeef3;
  /* min-width: 200px; */
  min-height: 500px;
  /* width: 100%; */
  padding: 20px;
  text-align: center;
  border-radius: 16px;
  border-color: #cbeef3;
  border-style: solid;
}

.formbox {
  min-width: 16em;
}

form {
    color: #cbeef3;
}

label {
  font-family: inherit;
  font-size: 80%;
}

.form-control {
  /* background-color: #cbeef3; */
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 80%;
  width: 60%;
}

.form-control-msg {
    height: 64px;
}

.contactimg {
  width: 80px;
  margin-left: 80px;
  margin-right: 80px;
}


@media only screen and (max-device-width: 1024px) {
  .bgpic1, .bgpic2, .bgpic3 {
    background-attachment: scroll;
  }
}




/* end */

.blu {
        background-color: blue;
    }


#logobanner {
    background-color: #777;
    position: relative;
    min-height: 100%;
    width:100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#mainicon {
    position: relative;
    max-width: 300px;
}


.smallicon {
  position: relative;
  max-height: 15vh;
  padding: 10px;
}


#serviceboxes {
    background-color: #000000;
}

.servicebox {
    border-style: solid;
    border-color: #006989;
    border-radius: 10px;
    background-color: #cbeef3;

}




a {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  cursor: pointer;
  text-decoration: none;


}

.a-light-big {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  font-size: 1.25vw;
  color: #cbeef3 !important;
}

.a-light-small {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  font-size: 1vw;
  color: #cbeef3 !important;
}

.a-dark-big {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  font-size: 1.25vw;
  color: #006989 !important;
}

.a-dark-small {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  font-size: 1vw;
  color: #006989 !important;
}

a:hover {
 font-style: italic;
 text-decoration: none;
}

nav li {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding: 0 1vw;
}
  
nav li:last-child { border: 0; } /* removes pipe from the last horizontal link */





.new {
  display: block !important;
  color: red;
}

#noAcknowledgement {
  display: none;
  color: red;
}

#requiredError {
  display: none;
  color: red;
}


#estimateblock {
  display: none;
  border-style: solid;
    border-color: #006989;
    border-radius: 10px;
    min-height: 20px;
    padding: 20px;
}

#allwarning {
  display: none;
}

#farzipwarning {
  display: none;
  font-weight: 50%;
}

#nosizewarning {
  display: none;
  font-weight: 50%;

}

#oddsystemwarning {
  display: none;
  font-weight: 50%;

}

#nosystemwarning {
  display: none;
  font-weight: 50%;

}

#otherfeaturewarning {
  display: none;
  font-weight: 50%;
}

.kabutton {
background-color: #006989;
color: #cbeef3;
width: 120px;
height: 40px;
line-height: 40px;
border-radius: 6px;
border-style: solid;
border-color: #006989;
border-width: 1px;
cursor: pointer;
}

.kabutton:hover {
background-color: #cbeef3;
color: #006989;
width: 120px;
height: 40px;
line-height: 40px;
border-radius: 6px;
border-style: solid;
border-color: #006989;
border-width: 1px;
cursor: pointer;
}



.kabuttonneg {
  background-color: #cbeef3;
  color: #006989;  
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  border-style: solid;
  border-color: #cbeef3;
  border-width: 1px;
  cursor: pointer;
  }


  .kabuttonneg:hover {
    background-color: #006989;
    color: #cbeef3;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    border-style: solid;
    border-color: #cbeef3;
    border-width: 1px;
    cursor: pointer;
    }











